@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@300&family=Outfit:wght@300&family=Overpass:wght@900&family=Red+Hat+Display:wght@500;700;900&family=Roboto&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-Light-red: hsl(0, 100%, 67%);
  --col-Orangey-yellow: hsl(39, 100%, 56%);
  --col-Green-teal: hsl(166, 100%, 37%);
  --col-Cobalt-blue: hsl(234, 85%, 45%);
  --col-Light-slate-blue-background: hsl(252, 100%, 67%);
  --col-Light-royal-blue-background: hsl(241, 81%, 54%);
  --col-Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --col-Persian-blue-circle: hsla(241, 72%, 46%, 0);
  --col-White: hsl(0, 0%, 100%);
  --col-Pale-blue: hsl(221, 100%, 96%);
  --col-Light-lavender: hsl(241, 100%, 89%);
  --col-Dark-gray-blue: hsl(224, 30%, 27%);
  --font-main: 18px;
  --fw-small: 500;
  --fw-normal: 700;
  --fw-bold: 800;
  --font-familly: "Hanken Grotesk", sans-serif;
}

body {
  font-family: var(--font-familly);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 35em;
  height: auto;
  display: flex;
  box-shadow: 0px 5px 10px var(--col-Light-lavender);
  border-radius: 25px;
}

/*RESULT SECTION*/

.result {
  flex: 1;
  background: linear-gradient(
    to bottom,
    var(--col-Light-slate-blue-background),
    var(--col-Cobalt-blue)
  );
  border-radius: 25px;
}

.result-content {
  margin: 1em;
  padding: 1.2em 0.6em;
}
.result-content h2 {
  text-align: center;
  color: var(--col-Light-lavender);
}
.result-description {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: block;
  position: relative;
  margin: 2em auto;
  background: linear-gradient(
    to bottom,
    var(--col-Violet-blue-circle),
    var(--col-Persian-blue-circle)
  );
}

.result-description-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--col-White);
  text-align: center;
}
.score-value {
  display: block;
  font-size: 3em;
  font-weight: var(--fw-bold);
}
.score-totalOf {
  color: var(--col-Light-lavender);
}

.result-description-details {
  text-align: center;
}
.result-description-details h1 {
  color: var(--col-White);
  padding: 0.4em 0;
}
.result-description-details p {
  color: var(--col-Light-lavender);
  padding: 0 0.2em;
}

/*SUMMARY SECTION*/

.summary {
  flex: 1;
}
.summary-content {
  margin: 1em;
  padding: 1.2em 0.6em;
}
.summary-title {
  padding-bottom: 0.5em;
}

.summary-description:nth-of-type(1) {
  color: var(--col-Light-red);
  background-color: hsla(0, 100%, 67%, 0.1);
}
.summary-description:nth-of-type(2) {
  color: var(--col-Orangey-yellow);
  background-color: hsl(39, 100%, 56%, 0.1);
}
.summary-description:nth-of-type(3) {
  color: var(--col-Green-teal);
  background-color: hsl(166, 100%, 37%, 0.1);
}
.summary-description:nth-of-type(4) {
  color: var(--col-Cobalt-blue);
  background-color: hsl(234, 85%, 45%, 0.1);
}

.summary-description {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  margin: 1em 0;
  border-radius: 10px;
  text-align: center;
}

.summary-description-items {
  display: flex;
  align-items: center;
}
.summary-description-items p {
  margin-left: 0.5em;
  padding-right: 1em;
  font-weight: var(--fw-normal);
}
.score-items {
  font-weight: var(--fw-bold);
  color: gray;
}
.score {
  color: var(--col-Dark-gray-blue);
}

.btn {
  width: 100%;
  padding: 1em;
  border-radius: 25px;
  border: none;
  color: var(--col-White);
  background-color: var(--col-Dark-gray-blue);
  margin-top: 1em;
  font-weight: var(--fw-normal);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/*ACTIVE STATE*/

.btn:hover {
  background-color: var(--col-Cobalt-blue);
}
@media (min-width: 375px) and (max-width: 450px) {
  .card {
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
  .result {
    border-radius: 0 0 25px 25px;
    flex: none;
  }

  .result-content {
    margin-top: 0;
  }

  .result-description {
    margin-bottom: 0.5em;
  }
  .result-description-details p {
    padding: 0 1em;
  }
  .btn {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 375px) {
  .card {
    flex-direction: column;
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
  .result {
    border-radius: 0 0 25px 25px;
    flex: none;
  }
  .result-content {
    margin-top: 0;
  }
  .result-content h2 {
    font-size: 20px;
    margin-bottom: 1em;
  }
  .result-description {
    width: 8em;
    height: 8em;
    margin: auto;
    margin-bottom: 0.5em;
  }
  .result-description-details h1 {
    font-size: 25px;
  }
  .result-description-details p {
    font-size: 15px;
    padding: 0 1em;
  }
  .summary-title {
    font-size: 20px;
  }
  .summary-content {
    margin: 0 1em;
  }
  .btn {
    margin-bottom: 0.5em;
  }
}
